.Head{
  font-family: 'Inter', sans-serif;
  
}
.tick{
  margin-left: 35%;
}
.logo {
  margin: 20px auto 100px auto
}
.Colbuttonlst{
  align-items: center;
  background-color: #664de5;
  margin-left: 10%;
}
.Colbutton{
  background-color: #664de5;
}
.wid{
  width: 500px;
}
.bor{
  border-spacing: 5px 1rem;
}
.bor:hover{
  border-color: #5718de;
}
.bor:hover .sol{
  filter: grayscale(0)
}
.sol{
  filter: grayscale(10);
}
.Colbutton:hover 
{
  background-color: #5718de
}
.colgray{
  background-color: #b3bccd;
  padding-left: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.hidden {
  display: none !important;
}

.step > span {
  background-color: #673AB7 !important
}

.indexedStep {
  color: white;
  width: 40px;
  height: 40px;
  font-size: 15px;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: #673AB7;
}

.test {
  position: absolute;
  margin-top: 20px;
  color: grey;
  white-space: nowrap;
}

.RSPBprogressBar{
  height: 2px !important;
  margin-bottom: 50px !important;
}

.RSPBprogression {
  background-color: #673AB7 !important;
}
